<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Danh sách sản phẩm</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>PRICE</th>
        <th>STOCK</th>
        <th>ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p: ${products}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.productName}"></td>
        <td th:text="${p.description}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.stock}"></td>
        <td th:href="@{/detail}">Chi tiết</td>
    </tr>
    </tbody>
</table>
</body>
</html>