<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>
<h1>Form đăng nhập</h1>

<form th:action="@{/login}" method="post" th:object="${user}">
    <div th:if="${loi}" class="error">
        <h3 th:text="${loi}"></h3>
    </div>
    <div>
        <label>Username:
            <input th:field="*{username}" type="text">
        </label>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    </div>

    <div>
    <label>Password:
        <input th:field="*{password}" type="text">
    </label>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    </div>

    <button type="submit">Đăng nhập</button>
</form>

<h3 th:if="${loi != null}" th:text="${loi}"></h3>

</body>
</html>